.common_question_list{
    padding-top: 60px;
    @include pad{
        padding-top: 40px;
    }
    @include iphone{
        padding-top: 24px;
        padding-bottom: 56px;
    }
    ul{
        padding-top: 36px;
        padding-bottom: 128px;
        @include pad{
            padding-top: 32px; 
            padding-bottom: 80px;
        }
    }
    li{
        padding-bottom: 32px;
        @include pad{
            padding-bottom: 24px;
        }
        @include iphone{
            padding-bottom: 20px;
        }
    }
    h2{
        font-size: $fz_2;
        @include iphone{
            font-size: $fz_4;
            padding-bottom: 8px;
        }
    }
    h3{
        font-size: $fz_4;
        padding-bottom: 16px;
        @include iphone{
            padding-bottom: 16px;
        }
    }
    p{
        padding-left: 95px;
        font-size:$fz_6 ;
        @include pad{
            padding-left: 49px;
        }
        @include iphone{
            padding-left: 0px;
            
        }
    }
}
