.container{
    width: 1100px;
    margin: 0 auto;
    
    @include deskbelow{
        width: 950px;
    }
    @include pad{
        width: 690px;
    }
    @include iphone{
        width: 520px;
    }
}
.glassessLogo{
    width: 80px;
    height: 49px;
    background: url("../images/glass-img/logo.png") no-repeat;
    @include picture_replace_text;
    a{
    width: 80px;
    height: 49px;
    }
    @include pad{
        display: none;
    }
    @include iphone{
        display: block;
        margin: 10px 0;
    }
}
.header{
    align-items: center;
    background: $red;
    display: flex;
    justify-content: space-between;
    padding: 30px 88px;
    a{
    font-size: $fz_4;
    line-height: 30px;
    }
    @include deskbelow{
        height: auto;
    }
    @include pad{
    padding-top: 10px;
    width: 100%;
    display: flex;
    
    padding: 0;
    }
    @include iphone{
    flex-direction: column;
    }
}
.menu{
    display: flex;
    align-items: center;
    li{
    margin-left: 64px;
    }
    @include pad{
        display: none;
    }
    @include iphone{
        display: flex;
        width: 100%;
        padding-top: 10px;
        flex-wrap: wrap;
        align-items: center;
        li{
        margin: 0;
        border: 1px solid $white;
        width: 50%;
        text-align: center;
        a{
            font-size: $fz_4;
            line-height: 45px;
        }
        }
    }
}
.glassessLogo_for_pad{
    display: none;
    width: 80px;
    height: 49px;
    background: url("../images/glass-img/logo.png") no-repeat;
    @include picture_replace_text;
    a{
    width: 80px;
    height: 49px;
    }
    @include pad{
    display: block;
    }
    @include iphone{
        display: none;
    }
}
.from_header_glup{
    display: none;
    @include pad{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include iphone{
        flex-direction: column;
    }

}
.menu_for_pad{
    display: none;
    @include pad{
        margin: 30px 0;
        display: flex;
        align-items: center;
        gap: 40px;
        li{
        }
    }
    @include iphone{
        display: none;
    }
}
.footer{
    background: $red;
    h3{
    color: $white;
    }
}
.footerLinker{
    margin: 0 auto;
    padding: 44px 0 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include iphone{
    display: none;    
    }
}
.footermenu{
    display: flex;
    li{
    padding-right: 48px;
    @include deskbelow{
    padding-right: 32px;    
    }
    }
    a{
        font-size: $fz_6;
        line-height: 1.5;
    }
}
.footerLogo{
    display: flex;
    justify-content: space-between;
    li{
    padding-left: 32px;
    @include deskbelow{
    padding-left: 20px;   
    }
    }
}
.contact{
    border-bottom: 1px solid $white;
    margin: 0 auto;
    padding-bottom: 20px;
    li{
        display: flex;
        align-items: center;
    }
    a{
    font-size: $fz_1-2;
    line-height:1.5;
    }
    img{
    width: 36px;
    height: 36px;
    padding-right: 20px;
    }

    @include pad{
    a{
        font-size: $fz_4;
    }   
    }
    @include iphone{
        display: none;
    }
}
.policy_and_private{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    @include iphone{
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 20px;
    }
    img{
    width: 16px;
    height: 16px;
    padding-right: 6px;
    }
    p{
        color: $white;
    }
}
.policy_and_private_linker{
    display: flex;
    gap:48px;
    a{
        font-size: $fz_7;
        line-height: 1.5;
    }
    @include iphone{
    flex-direction: column;
    gap:0px
    }
    a{
    padding: 4px 0;
    margin: 0;
    }
}
.plocy_and_private_foriphone{
    display: none;
    @include iphone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fz_6;
    line-height: 30px;
    border-bottom: 1px solid $white;
    padding-bottom: 24px;
    padding-top: 25px;
    a{
        font-size: $fz_6;
        line-height: 24px;
        font-weight: normal;
        }
    li{
    display: flex;
    align-items: center;
    }
    img{
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
    }
}
.footerLogo_foriphone{
    @include iphone{
        display: flex;
        align-items: center;
        li{
            width: 24px;
            height: 24px;
            padding: 0;
            margin-left: 24px;
            display: flex;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
}
