/*websid_color*/
$darkred:#650300;
$red:#AA0601;
$skin:#fbf2f2;
$gray:#707070;
$date_gray:#555555;
$product_gray:#5F3E2D;
$product_red:#B75929;
$border_gray:#63616120;
$border_red:#9F1213;
$black:#000;
$white:#fff;
$hoveracolor: rgb(5, 132, 252);

/*font_size*/
$fz_-1:72px;
$fz_0:64px;
$fz_1:48px;
$fz_1-1:42px;
$fz_1-2:36px;
$fz_2:32px;
$fz_2-1:30px;
$fz_2-2:28px;
$fz_3:24px;
$fz_4:20px;
$fz_4-1:19px;
$fz-5:18px;
$fz_6:16px;
$fz_7:14px;
